<% provide(:title, "Home") %>
<div class="center jumbotron">


  <% if logged_in?  %>
    <h2> Having fun yet?</h2>
  <% else %>


  <h1>Welcome to SLOTS</h1> <h2> Shopify Learning Objective Tracking System</h2>

  <h2> Track your progress with Shopify easily and affordably. </h2>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.jpeg", alt: "Make Commerce Better"),
            'http://rubyonrails.org/' %>

<% end %>
