<hr>
<h4><%= objective.title %></h4>
<p>
  <%= simple_format objective.details %>
</p>
<p>

  <button><%= link_to 'Delete Objective', [objective.topic,  objective],
      method: :delete,
      data: { confirm: 'Are you sure?' } %></button>

<button>  <%= link_to 'Edit Objective', edit_objective_path(objective) %></button>
</p>
