<% provide(:title, "Objective") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @objective.title %>
      </h1>
      <p>
        <%= @objective.details %>
      </p>
    </section>
  </aside>
</div>
